
@{
   var student = (Student)ViewData["student"];
}

<div class="container">
    <h4 class="text-success">Uspjesno dodavanje!</h4>
    <h5 class="text-secondary">Uspjesno ste dodali studenta: @student.Ime @student.Prezime !</h5>
    <a asp-action="Add" class="btn btn-secondary text-white">Nazad</a>
</div>
